[run]
source = devlog
omit =
    */tests/*
    devlog/tui.py
    devlog/views.py
    devlog/ui/*
    devlog-cli.py
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
precision = 2
show_missing = True

[html]
directory = htmlcov
